<script type='text/javascript'>
liveagent.init('https://d.la2w1cs.salesforceliveagent.com/chat', '572g00000008OYm', '00Dg0000006HfYo');
</script>

<img id="liveagent_button_online_573g00000008Oq2" style="display: block; border: 0px none; cursor: pointer" onclick="liveagent.startChat('573g00000008Oq2')" src="https://portaldev1-digitalpatient.cs17.force.com/digitalpatient/resource/1480067820000/LiveAgentOnline" /><img id="liveagent_button_offline_573g00000008Oq2" style="display: block; border: 0px none; " src="https://portaldev1-digitalpatient.cs17.force.com/digitalpatient/resource/1480067848000/LiveAgentOffline" />
<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573g00000008Oq2', document.getElementById('liveagent_button_online_573g00000008Oq2'));
liveagent.showWhenOffline('573g00000008Oq2', document.getElementById('liveagent_button_offline_573g00000008Oq2'));
});</script>